.yellow_bold {  color:#eeb032;  font-weight: 600; }

.align_center {  text-align: center; }

.vertical_middle { vertical-align: middle; }

.fontrem_8 { font-size: .8rem}

.fontrem_12 { font-size: 1.2rem}

.color_blue { color: blue}


.C1E90FF { color: #1E90FF}
.C6478FF { color: #6478FF}
.C1E82CD { color: #1E82CD}
.C8878CD { color: #8878CD}
.C00AFFF { color: #00afff}