@media (min-width:600px) {
  body {
    background: #eeeeee;
  }
  main {
    display: flex;
    margin: 0 auto;
    background: #ffffff;
    width: 1000px;
    flex-direction: column;
  }

  .web_wrap {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  header {
  }

  section {
    position:absolute;
  }

/*-----------------------------*/
/*----------- NavBar ----------*/
/*-----------------------------*/

nav {
  flex-direction: column;
  padding: 0;
  background:none;
  width: 200px;
  height: fit-content;
}

nav .home {
  position: relative;
  background: #efb132;
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  margin-bottom:2rem;
}
.home .photo {
  display:block;
  margin-top: 1rem;
  text-align: center;
}
.home .photo img {
  width: 90%;
  border-radius:50%;
}

.home .myname {
  text-align: center;
  margin-left:0px;
  margin-right:0px;
  padding-right:0px;
}
.home::after {
  position: absolute;
  content:"";
  left:0;
  top: 210px;
  width: 100%;
  height: 40px;
  background:#efb132;
  transform:skewY(-5deg);
  z-index: -2;
}

.nav_sub {
  display: flex;
  position: relative;
  margin-right: 0;
  padding-top:2rem;
  padding-bottom:2rem;
  height: -webkit-fill-available;
  background: #f3f3f3;
  z-index: -3;
  flex-direction: column;
}

.nav_sub:before {
  position: absolute;
  content:"";
  left:0;
  top:-15px;
  width:100%;
  height:40px;
  background:#f3f3f3;
}
.nav_btn {
  margin: 1rem;
  width:100%;
  padding-right:1rem;
  font-size: 1.4rem;
}

.contact_list {
  font-size: .8rem;
}

.call_num {
  display: none;
  border:none;
}

.call_input {
  font-size: .9rem;
  width:100px;
  border:none;
  background:none;
  margin-bottom:.3rem;
  font-family: 'Do Hyeon', sans-serif;
}
/*-----------------------------*/
/*---------- Header -----------*/
/*-----------------------------*/

.my_image img {
  width: 450px;
}

.name_title {
  position: absolute;
}

.name_title:nth-of-type(1) {
  left:6rem;
}
.name_title:nth-of-type(2) {
  bottom: 40px;
  left:-2rem;
}
.name_title span {
  font-size: 3rem;
}

.hashtag {
  display: block;
  position:absolute;
  top: 4rem;
  left: -3rem;
}
.hashtag p {
  font-family: 'Noto Serif KR', serif;
  font-size: 1.4rem;
  font-weight: 700;
}
/*-----------------------------*/
/*---------- Profile ----------*/
/*-----------------------------*/

.profile_wrap {
  position: relative;
  right: -17rem;
  top: 6rem;
  background: none;
 }

 .profile_title {
  justify-content:left;
 }
 .profile_title div {
   display: inline-block;
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
   background: linear-gradient(transparent 35%, rgb(246,223,57) 66%);
 }
 
 .profile_text {
   left:10px;
   font-size:.9rem;
   padding-left: 5px;
 }
 
 .svg img {
   border-radius: 55%;
   width: 48px;
   height: 48px;
   cursor:pointer;
   margin-top: .5rem;
   margin-right: .3rem;
   transition:background 1s;
   vertical-align: middle;
 }
 .svg img:hover {
   background: #333333;
 }
 

/*-----------------------------*/
/*----------- Skills ----------*/
/*-----------------------------*/

.skill_title { /* 스킬탭 타이틀 */  
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  font-family: 'Sunflower', sans-serif;
  margin-bottom: .5rem;
  color: #444444
}
.skill_title div {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(transparent 35%, rgb(246,223,57) 66%);
}

.skill_wrap {
  text-align: center;
  font-family:'Do Hyeon';
}

.pick_row {
  display: flex;
  justify-content: center;
}

.skill {
  position:relative;
  margin: 1rem 1.3rem;
}

.skill p {
  margin:5px 0;
}

.skill img {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 1px solid rgba(3,3,3,0.3);
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter:gray;
}

.pickskill img { /* 활성화 된 스킬 */
  border: 1px solid rgba(255,48,3,0.3);
  -webkit-filter: grayscale(0%);
  filter:none;
}

.level {
  position: absolute;
  right:-4px;
  top:-2px;
  padding: 1px;
  background:white;
  font-size: .8rem;
  border: 1px solid gray;
  width:fit-content;
}

.red_line { /* 스킬 간격 빨간 줄 */
  position:absolute;
  left: 50%;
  justify-content: center;
  background: red;
  width: 2px;
  height: 25px;
}
/* 레드라인 삼지창 */
.int {
  margin: 5px 2.8rem;
  background: red;
  width: 2px;
  height: 25px;
  vertical-align: middle;
}
.int:nth-of-type(1) {
  transform:rotate(40deg);
}
.int:nth-of-type(3) {
  transform:rotate(-40deg);
}
/*-----------------------------*/
/*---------- Footer -----------*/
/*-----------------------------*/

footer {
  z-index : 99;
}

/*-----------------------------*/
/*------------ 끝 -------------*/
/*-----------------------------*/
}
